{%  extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - Blog
{% endblock %}
{% block content %}
<button class="upload" id="openModal">+</button>

<div id="uploadmodal" class="modal">
	<div class="modal-content">
		<form method="POST" class="form" enctype=multipart/form-data>
            <h3>Upload Post</h3>
            <label>
             Title: <input type="text" name="title" value="{{ imageTitle }}"/>
            <input type="file" accept="image/*" name="image" value="{{ image }}" />
            </label>
            <br/>
            <input type="hidden" id="antiforgeryToken" name="antiforgeryToken" value="{{ antiforgeryToken }}" />	
        	<input type="submit" class="link" name="upload" value="Upload"></input>
			<div class="error">{{ error }}</div>
  		</form>
  	</div>
</div>

<script>
var modal = document.getElementById('uploadmodal');
var btn = document.getElementById("openModal");
//var closeBtn = document.getElementsByClassName("close")[0];

btn.onclick = function() {
    modal.style.display = "block";
}

//closeBtn.onclick = function() {
//    modal.style.display = "none";
//}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
} 
</script>


{% endblock %}
